WOOWANGS_ENVIRONMENT=development
WOOWANGS_EDGE_DEVICE_TOKEN=change-this-device-token
WOOWANGS_MAP_SOURCE_ROBOT_ID=TB3-01
WOOWANGS_DATA_DIR=data
WOOWANGS_FRONTEND_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
